In [1]:
import numpy as np
import pandas as pd
import taxonomy as t

paf="contig.paf"

In [2]:
# reading PAF file and dropping columns after s1. Indexing contig name for quick access.
df = pd.read_csv(paf,
    sep='\t',
    header=None,
    names=['qname','qlen','qstart','qend','strand','tname','tlen','tstart','tend','match_bp','mapping_bp','mqua','tp','cm','s1','opt1','opt2'],
    index_col=['qname'],
)

df.drop(['opt1', 'opt2'],axis=1,inplace=True)
df['ctg'] = df.index

df.head()

,qlen,qstart,qend,strand,tname,tlen,tstart,tend,match_bp,mapping_bp,mqua,tp,cm,s1,ctg
qname,,,,,,,,,,,,,,,
11153_001_HostRemoved_074501,939,16,895,+,NC_021252.1,8948591,7603144,7604005,144,879,0,tp:A:P,cm:i:15,s1:i:140,11153_001_HostRemoved_074501
11153_001_HostRemoved_074501,939,16,895,-,NZ_CP008953.1,8961318,1017093,1017954,144,879,0,tp:A:S,cm:i:15,s1:i:140,11153_001_HostRemoved_074501
11153_001_HostRemoved_074501,939,16,895,+,NC_018266.1,10246920,8793356,8794217,139,879,0,tp:A:S,cm:i:14,s1:i:135,11153_001_HostRemoved_074501
11153_001_HostRemoved_074501,939,16,895,+,NC_022116.1,10246864,8793300,8794161,139,879,0,tp:A:S,cm:i:14,s1:i:135,11153_001_HostRemoved_074501
11153_001_HostRemoved_074501,939,16,895,+,NC_017186.1,10236779,8783442,8784303,139,879,0,tp:A:S,cm:i:14,s1:i:135,11153_001_HostRemoved_074501

In [6]:
df.index.unique()

Index(['11153_001_HostRemoved_074501', '11153_001_HostRemoved_107444',
       '11153_001_HostRemoved_029610', '11153_001_HostRemoved_075706',
       '11153_001_HostRemoved_046140', '11153_001_HostRemoved_043003',
       '11153_001_HostRemoved_037615', '11153_001_HostRemoved_101400',
       '11153_001_HostRemoved_056945', '11153_001_HostRemoved_041076',
       ...
       '11153_001_HostRemoved_103500', '11153_001_HostRemoved_031612',
       '11153_001_HostRemoved_014908', '11153_001_HostRemoved_067848',
       '11153_001_HostRemoved_019428', '11153_001_HostRemoved_028855',
       '11153_001_HostRemoved_020332', '11153_001_HostRemoved_052392',
       '11153_001_HostRemoved_084248', '11153_001_HostRemoved_038702'],
      dtype='object', name='qname', length=3707)

In [7]:
print(len(df))

df.head()

20001

,qlen,qstart,qend,strand,tname,tlen,tstart,tend,match_bp,mapping_bp,mqua,tp,cm,s1,ctg
qname,,,,,,,,,,,,,,,
11153_001_HostRemoved_074501,939,16,895,+,NC_021252.1,8948591,7603144,7604005,144,879,0,tp:A:P,cm:i:15,s1:i:140,11153_001_HostRemoved_074501
11153_001_HostRemoved_074501,939,16,895,-,NZ_CP008953.1,8961318,1017093,1017954,144,879,0,tp:A:S,cm:i:15,s1:i:140,11153_001_HostRemoved_074501
11153_001_HostRemoved_074501,939,16,895,+,NC_018266.1,10246920,8793356,8794217,139,879,0,tp:A:S,cm:i:14,s1:i:135,11153_001_HostRemoved_074501
11153_001_HostRemoved_074501,939,16,895,+,NC_022116.1,10246864,8793300,8794161,139,879,0,tp:A:S,cm:i:14,s1:i:135,11153_001_HostRemoved_074501
11153_001_HostRemoved_074501,939,16,895,+,NC_017186.1,10236779,8783442,8784303,139,879,0,tp:A:S,cm:i:14,s1:i:135,11153_001_HostRemoved_074501

In [12]:
# For the same mapped region, keeping the first alignment and dropping the rest.
df.drop_duplicates(subset=['ctg','qstart','qend'], keep='first', inplace=True)

df.loc['11153_001_HostRemoved_101400']

,qlen,qstart,qend,strand,tname,tlen,tstart,tend,match_bp,mapping_bp,mqua,tp,cm,s1,ctg
qname,,,,,,,,,,,,,,,
11153_001_HostRemoved_101400,938,324,867,-,NZ_CP016895.1,3741098,2832180,2832723,78,543,20,tp:A:P,cm:i:7,s1:i:78,11153_001_HostRemoved_101400
11153_001_HostRemoved_101400,938,14,558,+,NZ_CP014477.1,4033345,1928558,1929097,66,544,19,tp:A:P,cm:i:5,s1:i:65,11153_001_HostRemoved_101400
11153_001_HostRemoved_101400,938,543,824,+,NZ_CP010350.1,3509795,238055,238336,65,281,0,tp:A:S,cm:i:6,s1:i:65,11153_001_HostRemoved_101400
11153_001_HostRemoved_101400,938,682,870,+,NZ_CP012608.1,2962453,178824,179012,63,188,0,tp:A:S,cm:i:6,s1:i:63,11153_001_HostRemoved_101400
11153_001_HostRemoved_101400,938,492,611,+,NZ_CP006955.1,2454127,1184289,1184408,60,119,0,tp:A:S,cm:i:4,s1:i:60,11153_001_HostRemoved_101400
11153_001_HostRemoved_101400,938,348,697,+,NZ_CP015110.1,3383728,1036527,1036876,60,349,0,tp:A:S,cm:i:4,s1:i:60,11153_001_HostRemoved_101400
11153_001_HostRemoved_101400,938,400,693,-,NZ_CP015615.1,3001209,1434092,1434385,60,293,0,tp:A:S,cm:i:4,s1:i:60,11153_001_HostRemoved_101400
11153_001_HostRemoved_101400,938,39,558,+,NZ_CP015145.1,3935326,1205449,1205963,51,519,0,tp:A:S,cm:i:4,s1:i:50,11153_001_HostRemoved_101400

In [23]:
def isOverlap(x,y):
    return x[0] <= y[1] and y[0] <= x[1]

df.iloc[1].tname

'NZ_CP009110.1'

In [24]:
def aggregateAlign(ctg, tname, qstart, qend, match_bp, mapping_bp):
    

def genome_seq_cov(ctg_df):
    ctg={}
    ctg_df.apply(lambda x: aggregateAlign(ctg,x['tname'],x['qstart'],x['qend'],x['match_bp'],x['mapping_bp']), axis=1)
    
    
    ranks = ["superkingdom","phylum","class","order","family","genus","species","strain"]
    lineage = t.taxid2lineageDICT(tid, 1, 1)
    for rank in ranks:
        for tname in ctg_df.tname:
            taxid  = t.acc2taxid(tname)
            name   = t.taxid2name(taxid);
            if not upname: upname = "NA"
            if not name: name = upname+" "+rank
            
            p[rank][name]["UP_RANK"] = upname;
            p[rank][name]["TAXO_ID"] = t.taxid2rank_taxid(taxid,rank);
            if rank == "strain":
                p[rank][name]["TAXO_ID"] = taxid

            pcov={}

            if( defined $p->{$rank}->{$name}->{LINEAR_LEN} ){
                $pcov = $p->{$rank}->{$name}->{LINEAR_LEN};
            }
            else{
                $pcov = "0"x$length->{$pname};
            }
          
            
genome_seq_cov(df.loc['11153_001_HostRemoved_074501'])

NC_021252.1
NZ_CP008953.1
NC_018266.1
NC_022116.1
NC_017186.1
NC_014318.1
NZ_CP009110.1
NC_013093.1
NZ_CP023445.1
NC_021252.1
NZ_CP008953.1
NC_018266.1
NC_022116.1
NC_017186.1
NC_014318.1
NZ_CP009110.1
NC_013093.1
NZ_CP023445.1
NC_021252.1
NZ_CP008953.1
NC_018266.1
NC_022116.1
NC_017186.1
NC_014318.1
NZ_CP009110.1
NC_013093.1
NZ_CP023445.1
NC_021252.1
NZ_CP008953.1
NC_018266.1
NC_022116.1
NC_017186.1
NC_014318.1
NZ_CP009110.1
NC_013093.1
NZ_CP023445.1
NC_021252.1
NZ_CP008953.1
NC_018266.1
NC_022116.1
NC_017186.1
NC_014318.1
NZ_CP009110.1
NC_013093.1
NZ_CP023445.1
NC_021252.1
NZ_CP008953.1
NC_018266.1
NC_022116.1
NC_017186.1
NC_014318.1
NZ_CP009110.1
NC_013093.1
NZ_CP023445.1
NC_021252.1
NZ_CP008953.1
NC_018266.1
NC_022116.1
NC_017186.1
NC_014318.1
NZ_CP009110.1
NC_013093.1
NZ_CP023445.1
NC_021252.1
NZ_CP008953.1
NC_018266.1
NC_022116.1
NC_017186.1
NC_014318.1
NZ_CP009110.1
NC_013093.1
NZ_CP023445.1

In [ ]:

            foreach my $region ( keys %{$seq->{$pname}->{$taxid}} ){
                my ($qs, $qe) = $region =~ /^(\d+)\.\.(\d+)$/;
                my $end = length($pcov);
                my $nm = $seq->{$pname}->{$taxid}->{$region};
                
                #update linear length
                my $str = "0"x($qs-1) . "1"x($qe-$qs+1) . "0"x($end-$qe);
                $pcov = $pcov | $str;
                #total mapped
                $p->{$rank}->{$name}->{TOL_HIT_LEN} ||= 0;
                $p->{$rank}->{$name}->{TOL_HIT_LEN} += $qe-$qs+1;
                #number of hits
                $p->{$rank}->{$name}->{NUM_HIT} ||= 0;
                $p->{$rank}->{$name}->{NUM_HIT}++;

                #distance
                $p->{$rank}->{$name}->{TOL_MISM} ||= 0;
                $p->{$rank}->{$name}->{TOL_MISM} += $nm;
            }
            $p->{$rank}->{$name}->{AVG_IDT} = ($p->{$rank}->{$name}->{TOL_HIT_LEN} - $p->{$rank}->{$name}->{TOL_MISM})/$p->{$rank}->{$name}->{TOL_HIT_LEN};
            $p->{$rank}->{$name}->{LINEAR_LEN} = $pcov;
        }

        # 
        foreach my $name ( keys %{$p->{$rank}} ){
            $p->{$rank}->{$name}->{LINEAR_LEN} =~ s/0//g;
            my $sum = length($p->{$rank}->{$name}->{LINEAR_LEN});

            $p->{$rank}->{$name}->{LINEAR_LEN} = $sum;
            $r->{$rank}->{TOL_LINEAR_LEN} ||= 0;
            $r->{$rank}->{TOL_LINEAR_LEN} += $sum;
        }

        #accumulated coverage
        my $acc_cov;
        $acc_cov = "0"x$length->{$pname};
        my $map;
        my $map->{48}="unclassified";
        my $mid_ascii = 49;

        foreach my $cnt ( sort {$a<=>$b} keys %{$cov->{$pname}} )
        {
            foreach my $taxid ( keys %{$cov->{$pname}->{$cnt}} )
            {
                my $name = taxid2rank($taxid, $rank);    
                #upper taxa
                my $upname = taxid2rank($taxid, $upper_level);
                $upname = "NA" unless $upname;
                $name = "$upname $rank" unless $name;

                unless( defined $map->{$name} ){
                    $map->{$name} = $mid_ascii;
                    $map->{$mid_ascii} = $name;
                    $mid_ascii++;
                }

                my $region = $cov->{$pname}->{$cnt}->{$taxid};
                $acc_cov = &accCov($acc_cov, chr($map->{$name}), $region);
            }
        }
        my $csum = &accCovSummary($acc_cov, $map);
        foreach my $name ( keys %$csum )
        {
            $p->{$rank}->{$name}->{ACC_COV_RGN} = join ";", @{$csum->{$name}};
            my $len=0;
            foreach my $rgn ( @{$csum->{$name}} )
            {
                my ($qs,$qe) = $rgn =~ /(\d+)\.\.(\d+)/;
                $len += $qe-$qs+1;
            }
            $p->{$rank}->{$name}->{ACC_COV_LEN} = $len;
        }

        $upper_level = $rank;
    }